[2020-06-04 13:23] sesajad opened #5 "Improvements to website content"
I think the TOC of the [coding.blog](coding.blog) is not intuitive.
1. **Updates**? isn't **Changelog** a better phrase? Then why is it before the **Account**? and in the same section?
2. Isn't it better to have **Blog** outside of the **Account** section?
3. In the README of the boilerplate project, it's mentioned that we can publish the blog simply on Github Pages. I think it must be mentioned i

[2020-06-04 15:36] loreanvictor commented on #5
Blog is part of account because well your blog is part of your account.

The term update is used specifically because it is not a changelog. That section is supposed to host update posts (on the progress of the product).

The proposed layout looks a bit better actually, I will play around a bit with the idea and put some changes up.

I will keep this issue open as a place for gathering feedback on

[2020-06-04 15:37] loreanvictor commented on #5
I am also going to change the issue title for clarification.

[2020-06-04 18:43] loreanvictor commented on #5
https://github.com/CONNECT-platform/coding-blog/commit/e5cd5f5c021b5fb2b7c525e341b24d8342779be6

[2020-06-06 18:59] loreanvictor opened #6 "Cannot copy contact email from error overlay"
When trying to register, if there is an error, I cannot copy the contact email address as clicking causes the overlay to close.

Issue reported by @mgiuffrida

[2020-06-06 23:03] loreanvictor opened #7 "Cannot set blog repo URLs to ones not ending with .git"
Right now, there is a client side validation that ensures repo URLs end with .git, which wrongfully bars some proper git repositories.

Issue mentioned by @bentinata.

[2020-06-06 23:54] adammflax opened #8 "Improvement to Author Information documentation"
It took me a while to work out how Automatic Inference worked. I wrongly pressumed that it worked out of the box automagically. Prehaps there should be a sentence stating that the user needs to update the github information found in config.ts

[2020-06-07 02:41] TysonMN opened #9 "On choosing a good repo name"
The [Setting up a Blog page](https://coding.blog/knowledge/setting-up-a-blog#setting-up-a-blog) links to the [template fork page](https://github.com/CONNECT-platform/coding-blog-boilerplate/generate) page (with hypertext "using this template").  At first, I named my forked repo `blog`.  But after I cloned it, I didn't like this name, because the name of the repo is the default name of the folder (

[2020-06-07 08:29] TysonMN commented on #9
A reasonable default/suggestion might be `{GitHub username}-blog` or maybe a different separating character like `.`.

[2020-06-07 12:45] loreanvictor commented on #9
@bender2k14 I couldn't find any documentation on how to propose names for repositories that are being generated from a template. will add a hint to the blog management page though.

[2020-06-07 13:17] loreanvictor commented on #8
added further explanation on [the corresponding section of docs](https://connect-platform.github.io/coding-blog-plugin/author#automatic-inference) of [coding-blog-plugin](https://github.com/CONNECT-platform/coding-blog-plugin/).

feel free to re-open this issue if you think further explanation is required.

[2020-06-07 13:17] #8 closed, assigned to loreanvictor

[2020-06-07 17:39] #9 closed, assigned to loreanvictor

[2020-06-07 17:53] loreanvictor commented on #6
https://github.com/CONNECT-platform/coding-blog/commit/1e1d2042e092af5848c3b4e565aad34ac452d299

[2020-06-07 17:53] #6 closed, assigned to loreanvictor

[2020-06-07 19:32] loreanvictor commented on #7
according to @must , there is some server-side validation for this as well that is dependent on a third-party package.

[2020-06-08 02:53] TysonMN opened #10 "Publish incorrect after renaming img folder"
I [renamed the `img` folder to `images`](https://github.com/bender2k14/tyson-williams-blog/commit/2604e748bfc7ca2105e945209a947e9de8fb0f08).  I found all those references by searching within all files in the repo for `img`.  I didn't think I missed any.

Everything worked locally, but the publish did not.  The files still published to same `img` folder.

Is there something in the publishing proces

[2020-06-08 06:48] loreanvictor commented on #10
yeah it seems you missed [`.codedoc/config.ts`](https://github.com/bender2k14/tyson-williams-blog/blob/c07efbd58b52d2097e74e31db3e676ba81ab6bf3/.codedoc/config.ts#L28-L33). you basically need to tell `coding.blog` publishing service [which asset files to copy from your repo and pull alongside the distributed version of your blog](https://connect-platform.github.io/coding-blog-plugin/assets), simil

[2020-06-08 10:00] must commented on #7
@loreanvictor this has been fixed. URLs are now checked with a generic regex rather than a package that limits it with specific characters / .git extension at the end.

[2020-06-08 12:02] TysonMN commented on #10
Oh, yes...of course.  Thanks pointing out my mistake.  I am certain that I made that change.  I think I forgot to save it before commiting.

[2020-06-08 12:02] #10 closed, assigned to nobody

[2020-06-08 14:01] loreanvictor commented on #7
the client-side validation is not disabled yet. will close this issue after it is.

[2020-06-08 14:14] #7 closed, assigned to loreanvictor

[2020-06-13 16:21] loreanvictor opened #11 "Display publish status on account/blog"
courtesy to nice APIs provided by @must , it is now possible to give direct feedback to blog authors about the publish status of their blog beyond sending a success/failure email. these APIs should be adopted on the UI to provide direct realtime information on publish status of a particular blog.

[2020-06-15 17:10] #11 closed, assigned to loreanvictor

[2020-06-15 17:48] TysonMN commented on #11
Where can I go to see this?

[2020-06-15 18:08] loreanvictor commented on #11
[the blog management page](https://coding.blog/account/blog). Note that the APIs right now allow for one publish per 5 minutes or so, which is typically fine but in case of testing might be a bit of an inconvenience (we are actually switching from that debounce strategy, but that will be deployed later).

[2020-06-15 18:36] TysonMN opened #12 "Old files remain deployed"
I renamed my `img` folder to `images`.  The images are now accessible via that directory, but they are still available at the previous one as well.

- New URL, expected to work and does
    - https://tysonwilliams.coding.blog/images/cb-banner-dark.svg
- Old URL, expected to 404 but doesn't
    - https://tysonwilliams.coding.blog/img/cb-banner-dark.svg

Alternatively, looking at [my `gh-pages` bran

[2020-06-15 18:57] loreanvictor commented on #12
for cleaning up your `gh-pages` build, I suspect the cleanest way is to switch to `gh-pages` branch locally, remove files you do not want on the branch anymore (and ensure codedoc doesn't generate them again), and then push the branch.

on `coding.blog`, this is an issue and currently there is no mechanism for cleaning up old files. it is on our roadmap, so I'll keep this issue open for monitoring

[2020-06-16 03:40] TysonMN commented on #12
I removed all the files in the `img` folder of [my `gh-pages` branch](https://github.com/bender2k14/tyson-williams-blog/tree/gh-pages), pushed that branch, then triggered another deploy (by pushing some "no-op" change to `master`), but https://tysonwilliams.coding.blog/img/cb-banner-dark.svg still exists (...as long as I am not being tricked by a cache).

Whatever.  I don't really like having to d

[2020-06-16 03:55] TysonMN opened #13 "Recommended solution for comments"
I would prefer to allow people to comment on my blog and have those comments included on the same page as the blog.

Will coding.blog suggest one or more ways to handle comments?

Here are two approaches that I have seen.
1. Have commenters submit PRs that add their comments to the file containing the blog post.
2. Use [utterances](https://utteranc.es/), which uses an issue on the backing GitHub r

[2020-06-16 04:19] TysonMN opened #14 "Missing URL replaced by 404 URL on coding.blog-deployed site"
Going to https://coding.blog/asdf shows the 404 page but leaves the URL unchanged.
![2020-06-15_23-11-55_131_chrome](https://user-images.githubusercontent.com/34664007/84731282-02623a80-af5e-11ea-9c53-69a20cd9252b.png)

Going to http://localhost:3000/asdf when locally hosting my blog shows the 404 page but leaves the URL unchanged.
![2020-06-15_23-12-50_132_chrome](https://user-images.githubuserco

[2020-06-16 04:28] TysonMN opened #15 "File missing on GitHub-deployed site"
My `gh-pages` branch contains the file...
https://github.com/bender2k14/tyson-williams-blog/blob/gh-pages/images/TysonWilliams.jpg

...but https://tysonwilliams.coding.blog/images/TysonWilliams.jpg returns 404.

Why is that?  Is there some additional debugging technique that I can use to see what files are being served from my GitHub site?  I thought it would be all files in the root of my repo fo

[2020-06-16 06:01] loreanvictor commented on #15
Your GitHub pages deploys contents of the `gh-pages` branch of your repository (it seems). Your `coding.blog` always deploys contents of the default branch of your repository (which is master).

The GitHub pages version of your blog is completely independent of the `coding.blog` version. You can synchronize them to some degree, but the two hosting environments in the end have different properties/

[2020-06-16 06:01] #15 closed, assigned to nobody

[2020-06-16 06:04] loreanvictor commented on #12
That solution is for your GitHub pages site not for `coding.blog`, which is an independent deploy. For example, while your GitHub pages deploys contents of `gh-pages` branch, `coding.blog` deploys contents of your main branch, which can be completely different.

Anyways, as mentioned before, currently there is no way to clear files from your `coding.blog` (but there is for GitHub pages), which is

[2020-06-16 06:16] loreanvictor commented on #13
Depends. Right now this is not a priority, and I personally lean towards the community coming up with nice solutions on their own, which would perhaps be a custom codedoc plugin.

However, if there is disparity in adoption or difficulty of use for a lot of people, it might be a good idea to also provide some solution via the default plugin, to ensure a level-playing field. The maximum quality and

[2020-06-16 06:17] loreanvictor commented on #13
Anyways I will keep this issue open for now and pin it, to maintain an open discussion on the topic.

[2020-06-16 11:08] must commented on #11
@loreanvictor Publishing is now allowed with one restriction: one running build at a time. If a build status gets stuck on "running" for some reason then a new build can be launched in 5 minutes. This should be a very rare occurrence in some potential edge cases. Will do more work to improve on this as we scale further.

[2020-06-16 12:51] TysonMN commented on #15
Oh!  I only intend to have coding.blog host my site.  I thought I also needed the `gh-pages` branch.  I will reread the setup docs to see where I should have learned this.

At least part of the confusion probably came from starting from the template [`coding-blog-boilerplate`](https://github.com/CONNECT-platform/coding-blog-boilerplate), which contains the `gh-pages` branch, the script to deploy t

[2020-06-16 13:12] TysonMN opened #16 "View files deployed to coding.blog site"
I would find it helpful for debugging if I could see the files that have been deployed to my site hosted by coding.blog.

Quoting from https://github.com/CONNECT-platform/coding-blog/issues/15#issuecomment-644549402

Seem right as a first approximation.  Then the next approximation is to say that the files generated during `codedoc install` and `codedoc build` are also deployed.

However, I get th

[2020-06-16 13:25] loreanvictor commented on #15
Yes I understand, perhaps the wording on some initial documents can be further improved? Due to similar feedback the wording on [coding.blog](https://coding.blog) is updated. However, I believe it is crucial for the boilerplate to be also super easy to be deployed to GitHub Pages, just to explicitly outline the fact that coding.blog blogs can be deployed to multiple hosts and it is easy to migrate

[2020-06-16 13:27] TysonMN opened #17 "File missing on coding.blog-deployed site"
(In a previous "[version of this issue](https://github.com/CONNECT-platform/coding-blog/issues/15)", I misunderstood the relationship between the `gh-pages` branch and my site being hosted on `conding.blog`.  Short answer: there is no relation.)

When locally hosting my site, http://localhost:3000/images/TysonWilliams.jpg exists.
![2020-06-16_08-18-46_135_chrome](https://user-images.githubusercont

[2020-06-16 13:37] TysonMN commented on #15
Here is an idea.

I wouldn't expect anyone to deploy their site to _both_ `coding.blog` and to GitHub pages.  Therefore, it seems unnecessary to me that the configuration is structured to _simulanoously_ support both uses cases.  Instead, the `master` branch could contain everything except anything specific hosting on `coding.blog` vs GitHub pages.  Then there can be two other branches named somet

[2020-06-16 13:39] loreanvictor commented on #17
curious. to the best of my knowledge, the paths you specify to coding-blog-plugin are the assets that coding.blog will pick up and deploy alongside your blog, which should mean that `src/assets/images/TysonWilliams.jpg` should be at least accessible, but I cannot access that either.

@must any ideas? is this a bug?

[2020-06-16 13:41] loreanvictor commented on #16
yep its a nice thing to display those files, also I suspect the explanation on how coding.blog handles assets could be improved. specifically, a more prominent link to [this page](https://connect-platform.github.io/coding-blog-plugin/assets), plus further explanation on the page should be handy.

[2020-06-16 14:22] must commented on #17
This seems to be a bug with nested folders. I'm working on fixing it.

[2020-06-16 15:20] must opened #18 "Add path mapping support"
We should add path mapping support to map copy source paths to a destination folder structure.

An example configuration would look like:
[code]

[2020-06-16 15:32] must commented on #17
@bender2k14 This should now be fixed. I launched a build job for your blog. All relevant files should now be accessible.

[2020-06-16 15:32] #17 closed, assigned to must

[2020-06-16 15:37] loreanvictor commented on #17
@bender2k14 just a heads up, with this fix you would get the image on coding.blog on `/src/assets/images/TysonWilliams.jpg` instead of `/images/TysonWilliams.jpg`. you can for now change your local config to mirror this behavior, but [this issue](https://github.com/CONNECT-platform/coding-blog/issues/18) would also allow you to specify mappings for your assets deployed on coding.blog, which would

[2020-06-16 21:14] TysonMN commented on #18
Thanks @must! :)

FWIW, I think this issue is about a particular solution to the discripency I raised in https://github.com/CONNECT-platform/codedoc/issues/18 (in which the GitHub deploy allowed the assets to be anywhere in the underlying repo and then get copied to a different spot for deployment but the deploy to `coding.blog` didn't have a similar layer of indirection).  I probably didn't expla

[2020-06-16 21:14] TysonMN commented on #17
Thanks guys :)

[2020-06-22 16:46] TysonMN opened #19 "Correctly link to Light/Dark image"
The [homepage of coding.blog](https://coding.blog/) starts with a big banner image that varies slightly between light mode and dark mode.

- When in light mode, the image at `https://coding.blog/banner.svg` is displayed but right-clicking (in Google Chrome) and selecting "Copy image address" copies `https://coding.blog/banner-dark.svg` onto the clipboard.
- The opposite happens in dark mode: the d

[2020-06-22 18:54] loreanvictor commented on #19
Anyways this belongs to **CODEDOC**, and while for more major issues I would keep them open on all affected repositories to monitor the situation / issue updates, I will close this issue since this one is minor.

[2020-06-22 18:54] #19 closed, assigned to nobody

[2020-07-13 10:34] loreanvictor opened #20 "Add support for specifying redirects"
[Quoting](https://github.com/CONNECT-platform/codedoc/issues/47):

[2020-07-31 14:55] TysonMN commented on #20
FWIW, I would like to use this feature now.

As [you pointed out](https://twitter.com/coding_blog/status/1289120252618579968) @loreanvictor, the title of my recent post was ambiguous.  I clarified it in [this commit](https://github.com/bender2k14/tyson-williams-blog/commit/46216bea7352917dfbefb49d9db66089593be33a).  I would have also prefered to change the name of the markdown file, but I am reluc

[2020-07-31 15:00] loreanvictor commented on #20
@must do you have any timeframe / plans for this?

[2020-07-31 15:13] loreanvictor commented on #20
@must @bender2k14 on second thought, although the preferred method would be sending a 301 (or 302) from the server (CDN), in this case it should be fine (at least for now) to implement a plugin that would cause a client-side redirect (via `http-equiv="refresh"` meta tag). The bonus for this method would be that it would work on any provider and would not be `coding.blog` specific (so it would also

[2020-07-31 15:32] TysonMN commented on #20
I do not know enough about the HTML protocol to have an opinion between these two solutions.

I once tried to redirect a URL from my wife's old blog to her new blog.  The old blog is hosted by Blogger at a Blogger URL, and the new blog is hosted by Squarespace at a custom URL.  The way I implemented the redirect wasn't good because it was considered suspicious / malicious (I think Google Chrome to

[2020-07-31 16:08] loreanvictor commented on #20
Agreed.

I don't think there will be any security issues, since this is the way redirects are implemented on GitHub Pages + Jekyll as well (similarly GitHub Pages doesn't provide a server-side solution for redirects). But will look into it as well.

[2020-08-03 15:40] loreanvictor commented on #20
Ok the [component is added](https://connect-platform.github.io/coding-blog-plugin/misc#moved-pages) and deployed via `@codedoc/coding-blog-plugin@0.1.11`.

[2020-08-03 15:40] #20 closed, assigned to nobody

[2020-09-13 01:34] TysonMN opened #30 "Only publish on pushes to master"
I just noticed that if I push any branch to [my repo](https://github.com/TysonMN/tyson-williams-blog), then my webhook is triggered and my site is redeployed.  My intention is that my site is only redeployed when I push to `master`.

Reviewing the [coding.blog webhook documentation](https://coding.blog/knowledge/publish-webhook) and looking at the options available in the push event of GitHub's we

[2020-09-13 17:53] loreanvictor commented on #30
That would be a good idea, at least it will save us some builds. it is notable that as it stands the publish system doesn't really look at the payload passed to the publish webhook, as it is not designed specifically for use with GitHub only. This means that in the end we should at least be supporting all major version control service providers in the same manner, though we can take on that in an

[2020-09-13 19:39] must commented on #30
Agreed. Just need some time to work on this and implement the change. In the future, we can also think of supporting other branches for publishing purposes but for now it should be enough to only consider master.

[2020-09-16 20:14] TysonMN commented on #30
FWIW, here is an idea.

I know it is possible to trigger a GitHub Action only on a push to `master` (for example, [this action that I created](https://github.com/hedgehogqa/fsharp-hedgehog/blob/2767e24104bad062a041763781e8469c8b7dbd7d/.github/workflows/dotnet-core.yml#L3-L5)).  So then it suffices to call the webhook as a step in the GitHub action.  Seems like something that should be possible, bu

[2020-09-16 20:48] TysonMN opened #31 "Separate staging and live sites"
This is a spin off of https://github.com/CONNECT-platform/codedoc/issues/70#issuecomment-692075458.

Sometimes there are differences between my live/deployed site hosted at `coding.blog` and when I locally host my site.  To make it easier to test and troubleshoot these issues, it would be great if there were two places to which I could deploy my site.  For example, they could either be separate de

[2020-09-17 08:28] must commented on #31
We would consider this for the future. A preview version of the blog + some simple deployment version management functionality (with roll-back capability etc...).

[2020-09-17 11:05] loreanvictor commented on #31
You can already do this in multiple ways:

- Method 1:
  - Remove the hook between GitHub and coding.blog.
  - Enable GitHub pages
  - Now your GitHub pages version can act as the "staging" version, and the publish button on blog management page will basically "publish to production" (to the actual version).

- Method 2:
  - Enable GitHub pages, but modify the workflow so that it is built from a d

[2020-09-17 12:47] TysonMN commented on #31
Using GitHub pages is a good idea, but it also just kicks the can down the road a bit.  There is already [explicit differences between hosting on `coding.blog` and GitHub pages](https://github.com/CONNECT-platform/coding-blog-boilerplate/blob/9cc9cc78f3785540f6cff1a2de2c297815433e74/.codedoc/config.ts#L17-L19), and there are probably many implicit differences.  For example, maybe GitHub pages has

[2020-09-17 13:07] TysonMN opened #32 "Show list of deployed files"
During a deployment of my site, the communication I currently receive is [how long the deployment is taking ](https://user-images.githubusercontent.com/34664007/93389423-c32fd800-f831-11ea-9736-a40ede387721.png) when [logged into coding.blog](https://coding.blog/account/blog) and a confirmation of a successful or failed publish both when logged in and via email.

Can some of this communication als

[2020-09-17 15:35] loreanvictor commented on #31
Valid point. Perhaps we should add the ability to also deploy another branch of a repo, either on a sub-url or another subdomain (such as tysonwilliams.staging.coding.blog). It would mean that the "version control" is still bound directly to git (rollbacks, merging, etc), but also we have a perfectly identical "staging" environment for the deployments.

[2020-09-17 15:57] TysonMN commented on #32
This is such a good idea, that it is the second time I have had it ;)

Closing as a duplicate of #16.

[2020-09-17 15:57] #32 closed, assigned to nobody

[2020-10-13 15:31] TysonMN commented on #18
I have a question about how this feature relates to https://github.com/CONNECT-platform/codedoc/issues/75.

When this feature is implemented, will it be possible to have syntax like this?  Specifically, can the source path include wildcards like `**` that match any subpath?

[code]

[2020-10-13 15:56] TysonMN opened #34 "New content not deployed"
I just pushed a [new commit](https://github.com/TysonMN/tyson-williams-blog/commit/1794a7b0e3568b320211fb17b6994e587bdd1166) to my `master` branch.  I got an email saying that my site was deployed.  However, I don't see the changes in that commit (even after disabling the cache by opening the developer tools in Google Chrome and having "Disable cache" checked).

How can I debug or fix this problem

[2020-10-13 17:39] must commented on #34
I am working on solving this. We decided to migrate some parts of our infrastructure and we're running into some trouble. I will update you on the status of this issue once solved.

[2020-10-14 09:36] must commented on #34
Hi @TysonMN, this should now be fully resolved! I am super sorry for the major inconvenience. Let me know if everything works as expected.

[2020-10-14 09:36] #34 closed, assigned to must

[2020-10-14 09:41] must commented on #18
I am not sure if this will make it to the first version of the feature. Nevertheless, at some point soon after, I don't see a reason why we wouldn't implement wildcard path support as you mention it.

[2020-10-14 09:47] must commented on #31
@loreanvictor @TysonMN Random question: Any SEO implications of having duplicate content on separate URLs / Domains?

[2020-10-14 09:50] must commented on #30
We can also add support on our backend to read the Github webhook call request and decide to publish or not depending on the branch / type of action (i.e. commit on master). And then we can also potentially enable you to choose which branch to push from.

[2020-10-14 09:52] must commented on #16
I'll add this to the roadmap. It would be a nice to have: to provide the user with feedback on changes to last deployed build (which files were added, removed, or modified).

[2020-10-14 09:56] must commented on #14
Due to the current way we handle CDN requests, it was implemented based on a redirect. I will look into how we can improve it towards having no redirects but rather a 404 response with the proper not found html page.

[2020-10-14 09:59] loreanvictor commented on #31
might be. I mean google might just index the staging subdomain for example.

right now, the solution for that would be for authors to add canonical URLs manually. perhaps we can later automate that a bit?

[2020-10-14 10:00] must commented on #12
This relates to the diff system that we will implement. Then we will be able to update the published files to reflect the latest published built files (i.e. removing ones that don't result from the build any more).

[2020-10-14 11:52] TysonMN commented on #34
Yep, the new content is deployed now.  Thanks!

Don't worry about it. I am just grateful to have an operations team for my blog! :D ;)

[2020-10-14 12:06] must commented on #31
Then it should be indicated to the crawlers that they shouldn't index the staging subdomain. That should solve the issue. Just noting it down for future reference.

[2020-10-14 12:25] TysonMN commented on #30
Great work! :)

FWIW, a workaround (either for GitHub before your recent change or for a different site) is to create a fork of the repo and push branches there.  I have been doing that lately with a private fork to hold onto draft posts.

[2020-10-14 12:31] TysonMN commented on #14
And do you understand why coding.blog and tysonwilliams.coding.blog behave differently?

[2020-10-14 12:37] TysonMN commented on #31
Sounds good to me. FYI, I don't know that nun about SEO.

[2020-10-14 12:37] must commented on #14
@TysonMN Yes, Coding.blog is handled through Github Pages which already provides this behaviour as you want it.

[2020-10-14 13:16] TysonMN commented on #34
FYI: Just pushed another commit (a typo fix), and that content was correctly deployed.

[2020-11-01 12:16] uloco opened #37 "Cannot publish"
I am trying to publish my first blog post for a couple of days now and always get an error that "oops, something went wrong". I am using the coding.blog publish webhook button on the page.
Any ideas?

[2020-11-01 13:29] must commented on #37
Hi there, it looks like we have a problem with our publishing service. We're looking into it and we'll give you an update as soon as possible!

[2020-11-01 13:53] must commented on #37
It should now work as usual. Sorry for the inconvenience!

[2020-11-01 13:53] #37 closed, assigned to nobody

[2020-11-02 22:07] uloco opened #38 "Buggy/Unoptimized rendering in Safari Reader View"
When reader view is turned on in safari, the line numbers in code snippets look like this:

<img width="1129" alt="image" src="https://user-images.githubusercontent.com/8818340/97924445-f554b500-1d5f-11eb-9c42-6ff29d8851fa.png">

They should render with a margin to the right I guess ...

[2020-11-03 09:11] loreanvictor commented on #38
I doubt the issue is isolated to line-numbering in code-snippets, as no optimization for reader-view has been done so far. So I'm going to rename the issue so that its a bit more encompassing of generally all the issues related to reader-view. Finding other issues and reporting them here would be much appreciated, as would any hints or suggestions of how to optimize for reader view (or PRs ideally

[2020-11-03 09:23] uloco commented on #38
I think the rest looks fine. It is about using as much as  the right semantic html tags as possible. But for the code snippet parts I am really not sure how to do this at the moment.

[2021-04-14 20:58] loreanvictor opened #42 "DNS record issues"
`api.coding.blog` and `*.coding.blog` are not working at the time, which means sub-domains are not accessible momentarily. We are working on the issue.

[2021-04-14 21:15] must commented on #42
Updated the records. Should work again once DNS propagates properly.

[2021-04-14 21:18] TysonMN commented on #42
My site works again. Good work.

[2021-04-14 21:23] loreanvictor commented on #42
Ok I'm going to pin this for 24 hours (since DNS propagation for some folks might take that long) and close it afterwards.

[2021-04-18 10:11] #42 closed, assigned to must

[2021-07-16 04:42] im-coder-lg opened #47 "Not able to sign up for the Prospective Creators list"
Hey, I wanted a domain here so I went to join the Prospective Creators list but it didn't work. Always an `oops` screen. I tried using different emails, but no avail. Can you check this?

[2021-07-16 13:03] im-coder-lg commented on #47
okayyyy, saw the bug label, have you found out the bug reason?

[2021-07-16 13:35] loreanvictor commented on #47
Well the `oops` screen should not happen and when it does it indicates a bug :)))

But no I haven't had the time to check the service yet. If you tell me the domain you tried to register I can have a quick look at some of the stuff, but checking the service itself will require some additional input from @must .

[2021-07-17 03:11] im-coder-lg commented on #47
Lemme try with a different domain

[2021-07-17 03:16] im-coder-lg commented on #47
Dude, it ain't workin'. I tried with my Vivaldi Webmail account but to no avail.
Tried a different domain too.

[2021-07-18 09:04] must commented on #47
Should be working now. Sorry about that

On Sat 17. Jul 2021 at 04:16, LG ***@***.***> wrote:

--
*Mustapha Ben Chaaben*
***@***.*** / +49 (0) 179 4429901
About me <http://about.benchaaben.com>

[2021-07-18 09:29] im-coder-lg commented on #47
Okay.

[2021-07-18 10:09] im-coder-lg commented on #47
Thanks, it worked!

[2021-07-18 10:10] #47 closed, assigned to nobody

[2021-07-18 15:23] im-coder-lg commented on #47
Got a small doubt... How do I know when my domain is granted? By email or what? Or can I directly login to coding.blog?

[2021-07-18 16:29] loreanvictor commented on #47
your domain is reserved. I used to enable a batch of domains per month (with an accompanying email), but since a lot of people have just parked their domains, I have stopped the usual batch roll out unless someone specifically asks for their domain.

so in short, if you really want to spin up your blog, I will enable it for you soon 😎🚀

[2021-07-18 16:31] im-coder-lg commented on #47
wdym? you will send an email to me? If yes, send it soon please. I would love to test this out!

[2021-07-18 16:35] loreanvictor commented on #47
yes, I'll enable your domain and send you an email with instructions for setting your blog up soon! 🍾

[2021-07-18 16:35] im-coder-lg commented on #47
okay... Thanks for telling this!

[2021-07-26 04:54] im-coder-lg commented on #47
hey, @loreanvictor I signed up for the domain a week ago. I did not receive my email for coding.blog, is my domain activated?

[2021-07-26 05:15] loreanvictor commented on #47
@coder-lg thanks for the reminder. You should have received the email with instructions just now.

[2021-07-26 05:37] coder-lg commented on #47
YHANK YOU!!!!  :)))))

[2021-07-26 05:44] im-coder-lg commented on #47
Thank you!!!:)

[2021-07-30 04:20] im-coder-lg opened #49 "Question: Can I make a workflow for this repository for checks?"
hey @loreanvictor, I was checking my blog repository when I got curious for GitHub Actions Checks. Like, there are some repos that have a Node project and they use GH Actions as checks. So, I wondered, this is a space that gets PRs, so why not make a `checks` workflow that can check if there is errors? Just curious if you really need it here, if you accept, I can start the work on that.

[2021-07-31 04:49] im-coder-lg commented on #49
pinging @loreanvictor

[2021-08-02 02:21] im-coder-lg commented on #49
Ping @loreanvictor can you say your opinion?

[2021-08-02 05:21] loreanvictor commented on #49
@coder-lg sorry for the delayed response, day job is leaking extensively into weekends these days 😅

Of course, any sort of actions that would conduct checks and tests would be neat. However, this repo specifically is focused on the static website, which means there aren't many checks and tests to be conducted to begin with (maybe testing the API? but that would need to be a recurring action not o

[2021-08-02 05:23] im-coder-lg commented on #49
What I meant was a NodeJS check sort of thing, since this is an NPM-based project, I can add the lines:
[code]
It does work at my repository.

[2021-08-02 05:24] im-coder-lg commented on #49
I tried it actually, and decided to ask.

[2021-08-02 05:27] loreanvictor commented on #49
something like this?

https://github.com/CONNECT-platform/coding-blog/blob/master/.github/workflows/deploy-to-gh-pages.yml

[2021-08-02 05:28] im-coder-lg commented on #49
somewhat like [`this`](https://github.com/coder-lg/coder-lg-blog-codedoc/blob/master/.github/workflows/codedoc.yml)

[2021-08-02 05:29] im-coder-lg commented on #49
If it fails, it will show a fail part. Build is almost like `serve` except it builds the entire site for deploying it on Netlify or maybe Vercel. So, why not use it there?

[2021-08-02 05:56] im-coder-lg commented on #49
So, I have a fresh idea. I will put the workflow in the `gh-pages` branch. Anything pushed there will be test-built and if it fails, YOU will get a mail.

[2021-08-02 05:57] im-coder-lg commented on #49
It will pinpoint the file causing the errors mainly :)

[2021-08-02 06:25] loreanvictor commented on #49
The original action I mentioned basically does this second idea:

- it uses `codedoc build` to build the docs
- it pushes them to `gh-pages` branch
- it will (well, github will) notify you when this fails.

It is (perhaps) a good idea to also run `codedoc build` on PRs, to ensure nothing is wrong. It would not be wise to push to `gh-pages` branch on each PR though.

Am I missing something?

[2021-08-02 06:28] im-coder-lg commented on #49
Ookayyy...

Yup, I say that it is good to run `codedoc build` on PRs to make sure the files are FREE of typos.

Nope, you are not missing anything. Why not we add that workflow **only** to the PRs?

[2021-08-02 06:30] im-coder-lg commented on #49
That would mean that the workflow aka. pr-verify.yml would check only the PRs, so that the original workflow that DEPLOYS to gh-pages would be perfect.

[2021-08-02 06:30] im-coder-lg commented on #49
Why not try that?

[2021-08-02 07:30] loreanvictor commented on #49
yep, sure thing. I was just trying to understand precisely your suggestion here.

[2021-08-02 07:31] im-coder-lg commented on #49
dude, I figured it out on your last comment. I will learn or review one of my old GH Actions lessons, because I got some lines on one of them.

[2021-08-02 07:32] im-coder-lg commented on #49
It was you who gave the idea without knowing it too. Your workflow is on push to master. Mine is for all the PRs.

[2021-08-02 07:39] im-coder-lg commented on #49
Well, just figured something out. I will add it to `master`. Mostly, it is checks, but it doesn't deploy to `gh-pages`. Just curious, @loreanvictor does the codedoc cli have a `codedoc check` command where it checks if each file can be built?

[2021-08-06 00:45] im-coder-lg commented on #49
/ping @loreanvictor

[2021-08-06 09:20] loreanvictor commented on #49
That would be `codedoc build`. It tries to build each file, and if it fails it will exit with an error status code. Is there a different behavior you expect from a potential `codedoc check` command?

[2021-08-06 09:31] im-coder-lg commented on #49
Well, I thought that `codedoc check` was mainly for checks but I realized it was for somethig else. Can I try this(workflow) and make it into a PR?

[2021-08-06 10:29] loreanvictor commented on #49
of course, it'd be much appreciated!

[2021-08-07 08:51] im-coder-lg commented on #49
Okay @loreanvictor will add it soon.

[2021-08-09 07:08] im-coder-lg commented on #49
Done, check #50

[2021-08-09 09:03] loreanvictor commented on #49
merged, thanks a ton @coder-lg

[2021-08-09 09:03] #49 closed, assigned to nobody

[2021-08-09 09:57] im-coder-lg commented on #49
Well, you helped in this too by giving an idea here.

[2021-08-09 09:57] im-coder-lg commented on #49
Thanks for that 😊

[2021-08-28 06:33] im-coder-lg opened #51 "Not able to log in now"
Hey @loreanvictor and @must sorry if I disturbed. You remember my first issue here? That I had a hard time signing up for a domain? Well, it's back and now I can't log in. If I put my email, the same error that occured before happened again. Can you look into this when you are free? Seems like server peoblems.

[2021-08-29 12:45] im-coder-lg commented on #51
Ping @loreanvictor is this server issues?

[2021-08-29 14:43] loreanvictor commented on #51
@im-coder-lg no need for apologies at all, actually thanks a lot for reporting. this is unfortunately an issue with the email service provider.

[2021-08-30 13:38] im-coder-lg commented on #51
So, can @must fix it? Last time, he was the person who solved it, so can he solve it when he is free?

[2021-09-09 02:46] im-coder-lg commented on #51
/ping @loreanvictor @must

[2021-09-10 13:16] im-coder-lg commented on #51
/ping @loreanvictor

[2021-09-10 13:17] loreanvictor commented on #51
@im-coder-lg on it. some stuff need to be migrated from some old account which takes a while. in the meantime, I can send you a login link manually if you so wish.

(and sorry for the delayed responses, really busy schedule lately)

[2021-09-10 13:23] im-coder-lg commented on #51
I would like that, because the blog is really lagging behind the new commits :sweat_smile: and I have to update it.

Just wondering @loreanvictor can I use Vercel for deployments? Since I don't want my PC to get slow or keep a Gitpod window open, I can commit it on GitHub, and Vercel will comment on that PR for previews, which I like to see. Like, I can use Vercel for test deployments before a fin

[2021-09-10 15:20] loreanvictor commented on #51
@im-coder-lg [of course you can](https://codedoc.cc/docs/config/misc#vercel-deployment).

Sure thing (re @must).

[2021-09-11 02:58] im-coder-lg commented on #51
Can you tell me how? If you see the Vercel deployments, the stylesheets aren't present, the JS files and other things aren't present. How can I add all of them?

[2021-09-11 03:05] im-coder-lg commented on #51
The logs:
[code]
URL: https://coder-lg-blog-codedoc-coder-lg.vercel.app/

[2021-09-14 04:44] im-coder-lg commented on #51
@loreanvictor is it fixed?

[2021-09-14 07:07] loreanvictor commented on #51
not yet (ping @must )

[2021-09-14 07:09] im-coder-lg commented on #51
do you know how to deploy coding.blog on vercel? I put the "console" logs there and the blog link, how can I change it? There is only HTML, no stylesheets or JS files.

[2021-09-14 07:15] im-coder-lg commented on #51
I entered the code on `vercel.json`(you can find it in the repo) like the docs said but it still doesn't work.

[2021-09-14 07:18] loreanvictor commented on #51
I will have to look at this separately. I would recommend creating a separate issue for it though.

[2021-09-14 07:20] im-coder-lg opened #52 "Deployment errors on Vercel"
from #51
the vercel.json is present, I have errors, the stylesheets aren't included, all errors :sweat_smile:

[2021-09-14 07:26] im-coder-lg commented on #51
Issue no: #52

[2021-09-15 09:41] loreanvictor commented on #51
login seems to be back up now. feel free to re-open this issue if it is down again, and thanks for the report (and pings 😉)

[2021-09-15 09:41] #51 closed, assigned to nobody

[2021-09-15 09:43] im-coder-lg commented on #51
Phew! Login is back and I got the email! Thanks!

[2021-09-20 22:24] TysonMN opened #54 "Combined publish and login-request notification email"
Historically, when my blog is published, I get an email notifying me of this event.  Today, shortly after my `master` branch was updated, I got an email where the subject said my blog was published but the body of the email said a request for a login link was made.

Is this expected behavior?

<img width="1116" alt="Screen Shot 2021-09-20 at 5 21 17 PM" src="https://user-images.githubusercontent.c

[2021-09-26 07:03] im-coder-lg commented on #52
@loreanvictor can you help me on this issue?

[2021-10-18 11:34] im-coder-lg commented on #52
please help me @loreanvictor

[2021-10-18 11:39] loreanvictor commented on #52
@im-coder-lg sorry I have been so busy lately, perhaps @must can also take a look if you've got some time?

P.S. @im-coder-lg can you link the repo here for easier access?

[2021-10-18 11:42] im-coder-lg commented on #52
Well, I'd like to know _how_ to configure Vercel to deploy the website and as well as how to include the stylesheets and JS files.
If anyone knows about that can they tell how to do it here?

[2021-10-18 11:42] im-coder-lg commented on #52
Here: https://github.com/im-coder-lg/coder-lg-blog-codedoc

[2021-10-18 11:54] loreanvictor commented on #52
If I recall correctly, @cupcakearmy figured out how to deploy codedoc to vercel initially.

[2021-10-18 11:57] im-coder-lg commented on #52
Can you post any issue/article where he figured it out?

[2021-10-18 12:18] cupcakearmy commented on #52
@im-coder-lg
look at the docs i deploy on vercel https://github.com/cupcakearmy/autorestic/tree/master/docs

[2021-10-18 17:04] im-coder-lg commented on #52
But how do you do it? You need configuration, right? Without Vercel configs you can't publish the website, right?

[2021-10-18 17:20] im-coder-lg commented on #52
Still no stylesheets. I have bundles and asset files there which is needed(?). I need the stylesheets there. As of now, latest commit is: https://github.com/im-coder-lg/coder-lg-blog-codedoc/commit/47907853fb0eecd3ea5082faddef20c3dd8034cd

[2021-10-18 18:46] cupcakearmy commented on #52
Maybe lets chat over on discord or telegram (same username), no need to clutter the issue here.

[2021-10-19 03:50] im-coder-lg commented on #52
What about Gitter? I can't get a new account right now and I don't need Discord, so why not Gitter or something on the Matrix Protocol?

[2021-10-19 07:09] cupcakearmy commented on #52
same username on gitter

[2022-08-13 03:41] TysonMN opened #60 "Hosted sites are down"
For example, https://eugene.coding.blog/ is down.

[2022-08-13 05:51] im-coder-lg commented on #60
Same :/

[2022-08-17 10:55] loreanvictor commented on #60
Yes. I suspect we should switch to another solution. I would recommend deploying blogs on GH-pages for now, and I will figure out how to redirect domains manually to blogs that are up for the moment at least.

[2022-08-17 10:55] loreanvictor commented on #60
But the build / hosting infra I think is getting deprecated and it is too costly to maintain it due to low traction.

[2022-08-19 11:14] loreanvictor commented on #60
@TysonMN @im-coder-lg So I've brought [eugene.coding.blog](https://eugene.coding.blog) back up, simply by hosting it using GH-pages and pointing the domain to the repository. You can take a look at the [repo](https://github.com/loreanvictor/techblog), specifically the corresponding [CODEDOC config](https://github.com/loreanvictor/techblog/blob/master/.codedoc/config.ts), and setup your repositorie

[2022-08-19 11:17] im-coder-lg commented on #60
I'll do this later, feeling sick 🤧 rn

[2022-08-19 11:35] loreanvictor commented on #60
hope you get better soon!

[2022-08-28 15:25] TysonMN commented on #60
I got [my GitHub page site up](https://tysonmn.github.io/) ~(though with some broken asset links)~.

@loreanvictor, can you make `http://tysonwilliams.coding.blog/` point to `https://tysonmn.github.io/`?

[2022-08-29 01:12] im-coder-lg commented on #60
@loreanvictor I will use GitHub Pages only - don't waste your money on my domain.

[2022-08-29 16:28] loreanvictor commented on #60
@TysonMN [yes](https://mxtoolbox.com/SuperTool.aspx?action=cname%3atysonwilliams.coding.blog&run=toolpage). You now need to also set the custom domain name on GitHub Pages to tysonwilliams.coding.blog and all should work fine (I'm not 100% sure about the assets though, if you run into further issues I think a setup [similar to mine](https://github.com/loreanvictor/techblog/blob/249be4b3a795b8143f9

[2022-08-30 23:08] TysonMN commented on #60
Perfect.  I followed [these instructions](https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site#configuring-a-subdomain) and it just worked :)

Yes.  I was looking at your commits.  I solved my asset problem.  Anyone interested in how I solved it can look at my commits [starting here](https://docs.github.com/en/p

[2022-09-01 09:24] #5 closed, assigned to nobody

[2022-09-01 09:24] #12 closed, assigned to must

[2022-09-01 09:24] #13 closed, assigned to nobody

[2022-09-01 09:25] #14 closed, assigned to must

[2022-09-01 09:25] #16 closed, assigned to must

[2022-09-01 09:25] #18 closed, assigned to must

[2022-09-01 09:25] #30 closed, assigned to must

[2022-09-01 09:26] #31 closed, assigned to must

[2022-09-01 09:26] #38 closed, assigned to nobody

[2022-09-01 09:26] #52 closed, assigned to nobody

[2022-09-01 09:26] #54 closed, assigned to nobody

[2022-09-01 09:32] loreanvictor opened #64 "Update documentation to reflect changes in service"
coding.blog is being repurposed: for now it'll just be a nice, free subdomain for anyone who wants to maintain an open source blog about coding. anyone can simply setup a blog on GitHub pages and register their subdomain, x.coding.blog, to that blog, by creating a PR to this repository and adding a config file to `domain/list` (see files there for example).

this change needs to be documented on t